.header{
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a img{
    height: 40px;
}

.nav ul{
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
}

.nav ul li a{
    font-size: 1.75rem;
    padding: 10px;
    position: relative;
    display: inline-block;
}

.nav ul li a:hover{
    color: #C90D0D;
}

.nav ul li a:after{
    content: "";
    background: url("../../imgs/header/buttonHover.svg") center;
    transition: 0.3s;
    position: absolute;
    left: 20px;
    top: -4px;
    width: 0;
    height: 0;
}

.nav ul li a.ativo{
    color: #C90D0D;
}

.nav ul li a:hover::after,
.nav ul li a.ativo::after{
    background-size: 90px;
    width: 60px;
    height: 60px;
    z-index: -1;
}

@media (max-width: 1000px){
    .header{
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        gap: 20px;
    }
}

@media (max-width: 500px){
    .nav ul{
        gap: 30px;
    }

    .nav ul li a{
        font-size: 1.4rem;
        padding: 10px;
        background-color: rgba(201, 13, 13, 0.363);
        border-radius: 4px;
    }
}