body{
    background: url("../../imgs/homeBg.svg") no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.main-container{
    padding-top: 180px;
}

.film-title{
    max-width: max-content;
    text-align: center;
}

.film-title h1{
    font-size: 6rem;
}

.film-title p{
    font-size: 3rem;
}

@media (max-width: 800px){
    .film-title h1{
        font-size: 4rem;
    }
    
    .film-title p{
        font-size: 1.5rem;
    }
}

@media (max-width: 500px){
    .film-title h1{
        max-width: 10ch;
    }
}

@media (max-width: 400px){
    .main-container{
        padding-top: 80px;
    }
}