#characters{
    background: linear-gradient(0deg, #7E2051 0%, #000000 85.3%);
}

.characters-main{
    background: url("../../imgs/characters/personagensBg.svg") no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.title{
    max-width: max-content;
    word-break: break-word;
    padding-top: 280px;
}

.title h1{
    font-size: 6rem;
}

.container-slider{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    min-height: 1000px;
}

.container-images{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 700px;
}

.slider{
    opacity: 0;
    transition: opacity .2s;
    padding-top: 40px;
    position: absolute;
    width: 100%;
}

.on{
    opacity: 1;
}

.slider h2{
    font-size: 4rem;
    text-align: center;
    padding-bottom: 40px;
    word-break: break-word;
}

.death{
    color: #b80404;
}

.slider p{
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    text-align: center;
    padding-bottom: 20px;
}

.slider p span{
    font-family: inherit;
    font-weight: inherit;
}

.showImg{
    display: none;
}

.showImgOn{
    display: initial;
    align-self: center;
}

.loboImg{
    width: 500px;
    margin-left: 15%;
}

button{
    cursor: pointer;
    border: none;
    background-color: transparent;
}

#prev-button img,
#next-button img{
    width: 100%;
    height: 100%;
}

.container-slider{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    min-height: 1000px;
}

@media (max-width: 1000px){

    .loboImg{
        margin-left: initial;
    }

}

@media (max-width: 800px){

    .container-slider{
        
        min-height: 900px;
    }

}

@media (max-width: 600px){

    .slider h2{
        font-size: 2.8rem;
    }
    
    .slider p{
        font-size: 1rem;
    }
}

@media (max-width: 400px){
    
    .characters-main{
        padding-top: 60px;
    }

    .title{
        padding-top: 40px;
    }

    .title h1{
        font-size: 4rem;
        text-align: center;
    }

    .container-slider{
        min-height: 70vh;
    }

    .slider h2{
        font-size: 2rem;
    }
    
}